@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600&display=swap');

:root {
    --gapp: 2.84vw;
    --gapp_mini: 4vw;
    --test_main_pc: 1vw;
    --test_nmain_pc: 1.25vw;
    --test_main_pad: 2.34vw;
    --text: #121212;
    --muted: rgba(199, 199, 199, 0);
    --accent: #b40000;
    --card: #E6E6E6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
}

.container {
    width: 90%;
    margin-inline: auto;
    padding: 0 0 2vh 0;
}

.Designer_Flex{
    display: flex;
    gap: 2.9vw;
}
.Designer_Flex_Grids1 h1{
    font-size: 2vw;
    font-weight: 300;
    line-height: 110%;
}
.Designer_Flex_Info{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Designer_Flex_Info h1{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 110%;

}
.Designer_Flex_Info p{
    font-size: 1vw;
    font-weight: 300;
    line-height: 110%;
}
.Designer_Flex_GridsB{
    width:100%;
    display:flex;
    gap:2.1vw;
    grid-row: 3 / 3;
}
.Designer_Flex_GridsB img{
    width:13.8vw;
    height:auto;
}
.Designer_Flex_Grids1_L div{
    margin-bottom: 1vw;
}
.Designer_Flex_Grids1_L p{
    margin-bottom: 0.5vw;

}
.Designer_Flex_Grids1_R div{
    margin-bottom: 1vw;
}
.Designer_Flex_Grids1_R p{
    margin-bottom: 0.5vw;

}
.Designer_Flex_Img{
    width:auto;
    height:38.3vw;
}
.Designer_Flex_Grids{
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    height: 38.3vw;;
}
.Designer_Flex_Grids1{
    width:100%;
    display:flex;
    gap: 8.9vw;
}
.Designer_Flex_Grids2{
    width:100%;
    display:flex;
    gap:2.3vw;
    grid-row: 3 / 3;
}


.Designer_Flex_Grids2 p {
    font-size: var(--test_main_pc);
    font-weight: 300;
    line-height: 110%;
}
.Designer_Flex_Grids2 h1{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 110%;
}
.Designer_Flex_Grids2 img {
    width:12.5vw;
    height:auto;
}
.Advertisement_Text{
    margin-top: 0.8vw;
}
.Advertisement_Text p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7vw;
}

.Designer_Flex_Grids2_L_Info{
    margin-top: 1vw;
}
.Designer_Flex_Grids2_L_Info div{
    display:flex;
    align-items: center;
    gap:0.26vw;
    margin-bottom: 0.5vw;
}

.Designer_Flex_Grids2_L_Info p {
    font-size: var(--test_main_pc);
    font-weight: 300;
    line-height: 110%;
}
.Designer_Flex_Grids2_L_Info img  {
    width:1.2vw;
    height:auto;
}

.Designer_Flex_Grids1 p{
    font-size: var(--test_main_pc);
    font-weight: 300;
    line-height: 110%;
}
.Design_Info{
    margin-top: 3.64vw;
    position: relative;
}

.cards{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap_y);
    width: 80%;
}
.Card_Grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gapp);
}
.Card_Title_Сontainer{
    font-size: var(--test_nmain_pc);
    font-weight: 300;
    line-height: 110%;
    margin-top: 0;
    width: 59.9vw;
}
.Card_Grid{
    width: 59.9vw;

}
.Card_Grid img{
    width: 100%;
}
.Card_Grid_Img{
    grid-column: span 2;
    width: 100%;
}
.cards p {
    margin-top: 1.5vw;
    margin-bottom: 1.6vw;
}


/* Контейнер слайдера */
.work_slider {
    position: relative;
    width: 100%;
    max-width: 900px;      /* при необходимости поменяй */
    margin: 0 auto;
    overflow: hidden;
}

/* Область просмотра */
.slider__viewport {
    overflow: hidden;
    width: 100%;
}

/* Лента слайдов */
.slider__track {
    display: flex;
    transition: transform .35s ease;
    will-change: transform;
}

/* Отдельный слайд */
.slide {
    flex: 0 0 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Стрелки навигации */
.work_slider .nav {
    height: 94%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background: rgba(0, 0, 0, .2);
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.work_slider:hover .nav {
    opacity: 1;
    visibility: visible;
}
.work_slider {
    position: relative;
}

.work_slider .nav::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 0 auto;
    transform: rotate(45deg);
}

.work_slider .nav.prev {
    left: 0;
}

.work_slider .nav.prev::before {
    transform: rotate(-135deg);
}

.work_slider .nav.next {
    right: 0;
}

.work_slider .nav.next::before {
    transform: rotate(45deg);
}

.slider__dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.slider__dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    background: #c7c7c7;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.slider__dots .dot.is_active {

    background: var(--accent);
    aspect-ratio: 1/1;
}
.Design_Plan_Grid{
    display: flex;
    width: 59.9vw;
}
.Design_Plan_Grid_Left{
    margin-right: 1.7vw;
}

.Design_Plan_Grid p {
    margin: 0;
    font-size: var(--test_main_pc);
    font-weight: 300;
    line-height: 110%;
}
.Design_Plan_Grid h1 {
    margin-top: 0;
    font-size: 1.8vw;
    font-weight: 300;
    line-height: 100%;
}
.Design_Plan_Grid{
    margin-bottom: 5vw;
}
.Design_Plan_Grid_Pad{
    display: none;
}
.Designer_Flex_Grids_Pad{
    display: none;
}
.Advertisement_Pad{
    display: none;
}
.Designer_Flex_Grids_Pad_Info{
    display: none;
}
.Designer_Flex_Grids_Pad_Info_Contact{
    display: none;
}
.Designer_Flex_Grids_Pad img {
    display: none;
}
.Designer_Flex_Grids_Title{
    font-size: 2.1vw;
    font-weight: 300;
    line-height: 110%;
}
.Designer_Flex_Grids_PadB{
    display: none;
}
.Card_Info_Flex{
    width: 58.7vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    background: #F6F6F6;
    padding: 0.5vw;
    margin-bottom: 5vw;
}
.Card_Info_Flex_L p{
    font-size: 0.8vw;
    font-weight: 300;
    line-height: 110%;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}
.Card_Info_Flex_R{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5vw;
    width: 100%;
}
.Card_Info_Flex_R_Block{
    padding: 1vw;
    background: #E6E6E6;
}
.Card_Info_Flex_R_Block p{
    margin: 0;
    font-size: 1vw;
}
.Card_Info_Flex_R_Block div{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.Card_Info_Flex_R_Block img {
    width: 1vw;
    height: auto;
}
.Card_Info_Flex_R_Block h1{
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 110%;

}
.Design_Plan_Grid_Right{
    margin-left: 2.6vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: calc(100% - 40px);
        margin-inline: auto;
    }


    .work_slider .nav{
        display: none;
    }

    .Card_Title_Сontainer {
        font-size: var(--test_main_pad);
        width: auto;
    }

    .cards{
        width: 100%;
    }
    .Card_Grid{
        width: 100%;
    }

    .Design_Plan_Grid{
        display: none;
    }
    .Design_Plan_Grid_Pad{
        display: flex;
    }
    .Design_Plan_Grid_Pad p{
        margin: 0;
        line-height: 110%;
        font-weight: 300;
        font-size: 2.4vw;
    }
    .Design_Plan_Grid_Pad h1 {
        margin-top: 0;
        line-height: 110%;
        font-weight: 300;
        font-size: 4vw;

    }
    .Design_Plan_Grid_Pad{
        margin-bottom: 10vw;
    }
    .Designer_Flex{
        display: block;
    }
    .Designer_Flex_Img{
        width: 95vw;
        height: auto;
    }
    .Designer_Flex_Grids{
        display:none;
    }
    .Designer_Flex_Grids_Pad{
        margin-top: 4vw;
        display: flex;
        gap: 5.5vw;
    }
    .Designer_Flex_Grids_Pad img{
        display: unset;
        height: 26.3vw;
        width: auto;
    }
    .Designer_Flex_Grids_Pad_Info{
        display: block;
    }
    .Designer_Flex_Grids_Pad_Info_Contact{
        display: block;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts img  {
        display: block;
    }
    .Designer_Flex_Grids_Pad_Info h1{
        font-size: 2.5vw;
        line-height: 110%;
        font-weight: 400;
    }
    .Designer_Flex_Grids_Pad_Info p{
        font-size: 2.4vw;
        font-weight: 300;
        line-height: 110%;
        margin-top: 0.7vw;
        margin-bottom: 2.5vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contact h1{
        font-size: 2.5vw;
        line-height: 110%;
        font-weight: 400;
    }

    .Designer_Flex_Grids_Pad_Info_Contact p{
        font-size: 2.4vw;
        font-weight: 300;
        line-height: 110%;
        margin-top: 0.7vw;
        margin-bottom: 1.7vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts div{
        display: flex;
        align-items: center;
        gap: 1.3vw;
        margin-top: 0.6vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts p{
        font-size: 2.4vw;
        font-weight: 300;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts img {
        height: auto;
        width: 3.1vw;
    }
    .Designer_Flex_Grids_Pad_Info{

    }
    .Advertisement_Pad{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5.8vw;
    }
    .Advertisement_Pad p {
        grid-column: 2;
        font-size: 2vw;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        line-height: 110%;

    }
    .Designer_Flex_Grids_Title{
        font-size: 3.2vw;
        font-weight: 300;
        line-height: 110%;
        margin-top: 2.6vw;
    }
    .Designer_Flex_Grids_PadB{
        margin-top: 4vw;
        display: flex;

    }
    .Designer_Flex_Grids_PadB h1{
        font-size: 3.2vw;
        line-height: 100%;
        font-weight: 300;
    }
    .Designer_Flex_Grids_PadB_{
        display: flex;
        gap: 2.6vw;
    }
    .Designer_Flex_Grids_PadB_ img{
        width: 21.7vw;
        height: auto;
    }
    .Designer_Flex_Grids_PadB_Info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .Card_Info_Flex{
        width: 100%;
        padding: 1.3vw;
        margin-bottom: 10.4vw;
        gap: 1.3vw;
    }
    .Card_Info_Flex_R{
        gap: 1.3vw;
    }
    .Card_Info_Flex_R_Block img{
        width:2.6vw ;
    }
    .Card_Info_Flex_R_Block h1 {
        font-size: 2.3vw;
    }
    .Card_Info_Flex_R_Block p{
        font-size: 1.8vw;
    }
    .Card_Info_Flex_L p{
        font-size: 1.8vw;
    }
    .Design_Plan_Grid_Right{
        margin-left: 0;
    }
}

.brand_stack {
    position: fixed;
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateY(0);
    will-change: transform;
    width: 20%;
    right: 5%;
    top: 5vw;
    transition: all 0.3s ease;
}



.brand_stack.sticky-bottom {
    position: absolute;
    bottom: 6.5vw;
    top: auto;
    right: 0;
    left: auto;
    width: 20%;

}

.brandstack__logo img {
    display: block;
    width: 320px;
    height: auto;
}

.brand_stack__cta {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 15vw;
    background: rgba(145, 145, 145, 1);
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}

.brandstack__cta .cta__text {
    white-space: nowrap;
    font-family: Geologica, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 1;
}

.brandstack__cta .cta__arrow {
    position: absolute;
    right: 0.75vw;
    bottom: 0.65vw;
    width: 2vw;
    height: 2vw;
    object-fit: contain;
    pointer-events: none;
}

.brandstack__cta:hover {
    background: rgba(145, 145, 145, 0.7);
}

@media (max-width: 1400px) {
    .brandstack {
        top: 12.15vw;
    }
}
.Design_Info{
    position: relative;
}
@media (max-width: 767px){
    .container {
        padding: 0;
        padding-bottom: 8vw;
        width: 90%;
    }
    .Design_Plan_Grid{
        display: none;
    }
    .Design_Plan_Grid_Pad{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .Design_Plan_Grid_Left{
        display: flex;
    }
    .Design_Plan_Grid_Pad p{
        margin: 0;
        line-height: 110%;
        font-weight: 300;
        font-size: 4.3vw;
    }
    .Design_Plan_Grid_Pad h1 {
        margin-top: 0;
        line-height: 110%;
        font-weight: 300;
        font-size: 6.5vw;

    }
    .Design_Plan_Grid_Pad{
        margin-bottom: 10vw;
        display: block;
    }

    .work_slider .nav{
        display: none;
    }

    .Card_Title_Сontainer {
        width: auto;
        font-size: 4.5vw;
    }

    .Card_Grid {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--gapp);
        width: auto;

    }
    .Card_Grid img {
        margin-bottom: 11vw;
    }
    .cards{
        width: 100%;
    }
    .Design_Plan_Grid_Left img{
        width: 46.1vw;
    }
    .Design_Plan_Grid_Left{
        justify-content: space-between;
    }
    .Designer_Flex_Grids{
        display:none;
    }
    .Designer_Flex{
        display: block;
    }
    .Designer_Flex_Img{
        width: 100%;
        height: auto;
    }
    .Designer_Flex_Grids_Pad{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2.7vw ;
        gap: 8vw;
    }
    .Designer_Flex_Grids_Pad_Info h1{
        font-size: 4.2vw;
        line-height: 110%;
        font-weight: 400;
        margin-bottom: 0.7vw;
    }
    .Designer_Flex_Grids_Pad_Info p{
        font-size: 4.2vw;
        line-height: 110%;
        font-weight: 300;
        margin-bottom: 2vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts div{
        display: flex;
        align-items: center;
        gap: 1.2vw;
        margin-bottom: 2vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts{
        font-size: 4.8vw;
        line-height: 110%;
        font-weight: 300;
        margin: 0;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts img{
        height: auto;
        width: 5.6vw;
    }
    .Designer_Flex_Grids_Pad_Info_Contact h1 {
        font-size: 5.3vw;
        line-height: 110%;
        font-weight: 400;
    }
    .Designer_Flex_Grids_Pad_Info_Contact p{
        font-size: 4.8vw;
        line-height: 110%;
        font-weight: 300;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts{
        margin-top: 5.3vw;

    }
    .Advertisement_Pad{
        display: block;
        margin-top: 6vw;
    }
    .Advertisement_Pad p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 4vw;
        line-height: 110%;
        font-weight: 400;
    }
    .Design_Info{
        margin-top: 10.6vw;
        position: relative;
    }
    .Designer_Flex_Grids_Pad_Info{
        display: block;
    }
    .Designer_Flex_Grids_Pad_Info_Contact{
        display: block;
    }
    .Designer_Flex_Grids_Pad_Info_Contacts img  {
        display: block;
    }
    .Designer_Flex_Grids_Pad img{
        display: unset;
    }
    .Designer_Flex_Grids_Title{
        font-size: 5.3vw;
        font-weight: 300;
        line-height: 110%;
        margin-top: 2.6vw;
    }
    .Designer_Flex_Grids_PadB{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Designer_Flex_Grids_PadB h1{
        font-size: 5.3vw;
        font-weight: 300;
        line-height: 110%;
    }
    .Designer_Flex_Grids_PadB h1 br {
        display: none;
    }
    .Designer_Flex_Grids_PadB_{
         display: flex;
        margin-top: 4vw;
    }
    .Designer_Flex_Grids_PadB_ p {
        font-size:4.2vw ;
    }
    .Designer_Flex_Grids_PadB_ img{
        width: 40vw;
        height: auto;
    }
    .Designer_Flex_Grids_PadB_Info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .Card_Info_Flex{
        display: block;
        width: 100%;
        padding: 1.3vw;
        margin-bottom: 10.4vw;
        gap: 1.3vw;
    }
    .Card_Info_Flex_R{
        gap: 1.3vw;
    }
    .Card_Info_Flex_R_Block img{
        width:5.3vw ;
    }
    .Card_Info_Flex_R_Block h1 {
        font-size: 3.2vw;
    }
    .Card_Info_Flex_R_Block p{
        font-size: 3.2vw;
    }
    .Card_Info_Flex_L p{
        font-size: 3.2vw;
    }
    .Card_Info_Flex_R_Block{
        padding: 2.6vw;
    }
    .Card_Info_Flex_L{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5.3vw;
    }
    .Card_Info_Flex_L img{
        width: 37.3vw;
        height: auto;
    }
    .Design_Plan_Grid_Right{
        margin-left: 0;
    }
}
