@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {

}
:root {
    --primary: #B91C1C;
    --text: #111;
    --muted: #666;
    --border: #ddd;
    --bg-light: #E6E6E6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
}

.container {
    width: 90%;
    margin-inline: auto;
}
.Dear_architects{
    width: 77%;
}
.Dear_architects h1{
    margin-top: 2.6vw;
    font-size: 1.8vw;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 0;
}
.Dear_architects p{
    margin-top: 1.5vw;
    margin-bottom: 0;
    font-size: 1vw;
    font-weight: 300;
    line-height: 110%;
    width: 30.7vw;
}
.Nominations {
    margin-top: 5.2vw;

}
.Nominations h1 {
    font-size: 2.6vw;
    margin: 0;
    font-weight: 200;
    line-height: 110%;
}
.Nominations p {
    font-size: 1vw;
    margin-top: 2.6vw;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 110%;
}
.Nominations_grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5vw;
}
.input-container__select{
    width:  43.3vw;
    height: 3.1vw;
}
.Nominations_article p{
    margin-bottom: 0.5vw;
    font-size: 1vw;
}
.Nominations_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nominations_grid_dop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.Nominations_grid_dop_flex div{
    display: flex;
    align-items: flex-start;
    margin-top: 1vw;
}
.Nominations_grid_dop_flex p {
    margin: 0;
}
.btn--primary {
    background: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 3.2vw;
    padding: 0 24px;
    font-size: 1vw;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2vw;
    transition: .2s
    ease;
    white-space: nowrap;
    font-family: inherit;
    margin-bottom: 5vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: calc(100% - 40px);
        margin-inline: auto;
    }
    .Dear_architects h1{
        font-size: 3.2vw;
    }
    .Dear_architects p{
        font-size: 2.3vw;
        width: 90%;
    }
    .Dear_architects{
        width: 100%;
    }
    .Nominations h1{
        font-size: 4.5vw;
    }
    .Nominations p {
        font-size: 2vw;
    }
    .Nominations_grid_dop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Nominations_article p{
        font-size: 2.3vw;
        width: 46vw;
    }
    .input-container__select{
        height: 5.8vw;
    }

}
@media (max-width: 767px) {
        .container {
            padding: 0;
            padding-bottom: 8vw;
            width: 90%;
        }
    .Dear_architects h1{
        font-size: 5.3vw;
    }
    .Dear_architects p{
        font-size: 4.2vw;
        width: 100%;
    }
    .Nominations h1{
        font-size: 6.6vw;
    }
    .Nominations p {
        font-size: 4.2vw;
    }
    .Nominations_flex{
        display: block;
    }
    .input-container__select{
        width: 100%;
        height: 10.6vw;
    }
    .Nominations_article p{
        font-size: 4.2vw;

    }
    .Nominations_grid_dop{
        display: block;
    }
    .bt{
        height: 10.6vw;
    }
}
